Source: ffmpegthumbnailer-caja
Section: mate
Priority: extra
Maintainer: Stefano Karapetsas <stefano@karapetsas.com>
Build-Depends: debhelper
Standards-Version: 3.9.2
Homepage: https://github.com/stefano-k/ffmpegthumbnailer-caja

Package: ffmpegthumbnailer-caja
Architecture: all
Depends: ${shlibs:Depends},
         ${misc:Depends},
         mate-conf,
         caja,
         ffmpegthumbnailer
Description: MateConf schema to use ffmpegthumbnailer with caja
 This package contains the MateConf schema to use ffmpegthumbnailer to make
 thumbnails for video files in caja.
